.system_link {
	background-color:transparent;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	color:#B6B6B6;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:0px 4px;
	text-decoration:none!important;
}.system_link:active {
	position:relative;
	top:1px;
}.post_body img{
    max-width: 100%;
    height: auto!important;
} .post_nick a{
	color: #FF6600!important;
	font-size: 15px!important;
}.href_button {
	background-color:#888888;
	border-radius:4px;
	border:1px solid #4c4c4c;
	display:inline-block;
	color:#4c4c4c;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none!important;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}.href_button:hover {
	text-decoration:none;
	background-color:#777777;
}.href_button:active {
	text-decoration:none;
	top:1px;
}.href_button_disable {
	background-color:#777777;
	border-radius:4px;
	border:1px solid #888;
	display:inline-block;
	color:#888888;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none!important;
	padding: 10px;
}.href_button_disable:hover {
	text-decoration:none;
}.href_button_disable:active {
	position:relative;
}.topic_foot_nav{
	text-align: center;
	color: #4373c3;
}.post_nick{
	font-size: 17px;
	text-decoration: underline;
}.post_nick_online{
  	font-size: 17px;
  	text-decoration: underline;
  	color: #267F00;
}.post_nick_online a{
	color: #00CC00!important;
}.post_date{
	color: #B6B6B6;
	font-size: 9px;
	word-wrap: break-word;
}.post_body{
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	word-wrap: break-word;
	text-align: left;
}.post_header{
	background-color: #777777;
	text-decoration: none;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-right: 0pt;
	padding-bottom: 1px;
	padding-left: 0pt;
	border-bottom-width: 1px;
	border-bottom-color: #777777;
	border-bottom-style: solid;
}.post_header_editor{
	background-color: #888888;
	color: #141414;
	text-decoration: none;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 2px;
	padding-right: 0pt;
	padding-bottom: 1px;
	padding-left: 0pt;
}#post{
    width: 100%;
}#hidetxtinput{
	border-radius: 3 3 3 3;
}#txtinput{
    padding: 7px 12px;
}.post_footer{
	text-decoration: none;
	text-align: left;
	margin-top: 2px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-right: 0pt;
	padding-bottom: 1px;
	padding-left: 0pt;
}.topic_title_post, .topic_title_post a:link{
	color: #030303;
	font-weight: bold;
	text-align: center;
	word-wrap: normal;
	background-color: #777777;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	border-radius: 2px;
}.between_messages{
	color: #FFFFFF;
	font-weight: bold;
	background: #c9c9c9;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	word-wrap: normal;
	padding-top: 1px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
}
body{
	color: #111111;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-size: 11px;
	line-height: 135%;
	margin: 0px;
	padding: 5px;
	text-align: left;
	word-wrap: break-word;
	background: #777;
	
}form{
	display: inline;
    margin: 0;
	padding: 0;
}a:active{
	color: #8F8F8F;
	text-decoration: none;
}a:visited{
	color: #8F8F8F;
	text-decoration: none;
}a:link{
	color: #B6B6B6;
	text-decoration: none;
}.post_body img{
    max-width: 100%;
    height: auto!important;
}.button
{
	background: #888;
}.formtable
{
	background: transparent;
}.quotetop
{
	color: #000;
	font-weight: bold;
	font-size: 10px;
	margin: 2px auto 0 auto;
	padding: 3px;
	background-color: #8B8F8F;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #4c4c4c;
	border-right-color: #4c4c4c;
	border-bottom-color: #4c4c4c;
	border-left-color: #4c4c4c;
	border-radius: 3 3 0 0;
}.quotemain
{
	color: #242424;
	padding: 4px;
	margin: 0 auto 0 auto;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #4c4c4c;
	border-right-color: #4c4c4c;
	border-bottom-color: #4c4c4c;
	border-left-color: #4c4c4c;
	background-color: #888;
	border-radius: 0 0 3 3;
}
.codetop
{
	background: #8B8F8F url(1/css_img_code.gif) no-repeat right;
	color: #282828;
	font-weight: bold;
	margin: 0 auto 0 auto;
	padding: 3px;
	border-radius: 3 3 0 0;
	border-top-width: 1;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FDDBCC;
	border-right-color: #FDDBCC;
	border-bottom-color: #FDDBCC;
	border-left-color: #FDDBCC;
}
.codemain
{
	color: #003399;
	font-family: Courier, "Courier New", Verdana, Arial;
	padding: 2px;
	border-radius: 0 0 3 3;
	border: 1px dotted #FDDBCC;
	background-color: #888888;
	height: auto;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FDDBCC;
	border-right-color: #FDDBCC;
	border-bottom-color: #FDDBCC;
	border-left-color: #FDDBCC;
}
#QUOTE,
#CODE
{
	background: #FAFCFE;
	border: 1px solid #000;
	color: #465584;
	font-family: Verdana, Arial;
	font-size: 11px;
	padding: 2px;
	white-space: normal;
}
#CODE
{
	font-family: Courier, "Courier New", Verdana, Arial;
}.hidetop
{
	color: #000;
	border-radius:3px;
	font-weight: bold;
	font-size: 10px;
	margin: 8px auto 0 auto;
	padding: 3px;
	background-color: #888888;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #4c4c4c;
	border-right-color: #4c4c4c;
	border-bottom-color: #4c4c4c;
	border-left-color: #4c4c4c;
}.hidemain
{
	background: #777;
	color: #0C0C0C;
	padding: 2px;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #4c4c4c;
	border-right-color: #4c4c4c;
	border-bottom-color: #4c4c4c;
	border-left-color: #4c4c4c;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 8px;
	margin-left: auto;
	border-radius: 0 0 3 3;
}.moddiv
{
	background-color: #888;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #4c4c4c;
	border-right-color: #4c4c4c;
	border-bottom-color: #4c4c4c;
	border-left-color: #4c4c4c;
	border-radius: 3 3 3 3;
}.exdiv{
	margin: 0px;
	padding: 0px;
	background-color: #888;
	border-left: 1px solid #4c4c4c;
	border-top: 1px solid #4c4c4c;
	border-right: 1px solid #4c4c4c;
	border-bottom: 1px solid #4c4c4c;
	border-radius: 3px;
}.curdiv
{
	background-color: #888;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #4c4c4c;
	border-right-color: #4c4c4c;
	border-bottom-color: #4c4c4c;
	border-left-color: #4c4c4c;
	border-radius: 3 3 3 3;
	height: auto;
}.postcolor {
	font-size: 12px;
	line-height: 160%;
}table.ipbtable, tr.ipbtable, td.ipbtable {
    color: #222;
    font-size: 11px;
    line-height: 135%;
}#ipbwrapper {
    text-align: left;
}.signature
{
	background: transparent;
	color: #8F8F8F;
	font-size: 9px;
	line-height: 150%;
}.borderwrap,
.borderwrapm
{
	background: #FFF;
	border: 1px solid #c9c9c9;
	border-radius: 3 3 3 3;
}

.borderwrapm
{
	margin: 5px;
}.row1
{
	background: #fff;
}.formsubtitle
{
	border: 0;
	color: #333333;
	font-weight: bold;
	padding: 5px;
}.cap 
{
	border-top-width: 1;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	background-color:#777777;
	border-radius: 5 5 0 0;
}.post_header_top
{
	text-decoration: none;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-right: 0pt;
	padding-bottom: 1px;
	padding-left: 0pt;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-radius: 5px;
}.post_footer_top
{
	text-decoration: none;
	text-align: left;
	margin-top: 2px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-right: 0pt;
	padding-bottom: 1px;
	padding-left: 0pt;
	border-bottom-width: 0px;
	border-bottom-color: #4373C3;
	border-bottom-style: solid;
}
 
/*news*/
a:hover{
    color:#13a4f4;
    text-decoration:blink;
    background: transparent;
}h2{
	font-size:10pt;
}.navigation{
    font-weight:bold;
    display:block;
    text-align:center;
    margin-top:10px;
    margin-bottom:15px;
}.navigation a, .navigation a:link{
	padding:4px 6px 4px 6px;
	margin:2px;
	text-decoration:none;
	border:1px solid #4c4c4c;
	color:#ccc;
	background-color:#888;
	font-size:10px;
	font-weight:bold;
}.navigation a:hover{
	border:1px solid #4c4c4c;
	color:#ccc;
	background-color:#888;
}.navigation a:active{
	padding:3px 6px 3px 6px;
	margin:2px;
	text-decoration:none;
	border:1px solid #4c4c4c;
	color:#ccc;
	background-color:#888;
}.navi_page{
	font-size:1em;
	font-weight:bold;
}.commentheader2{
	border-top-width: 1;
	border-top-style: solid;
	border-top-color: #c9c9c9;
	background-color: #777777;
	border-radius: 3px;
	font-weight: bold;
	padding-left: 7px;
	padding-top: 7px;
	padding-bottom: 5px;
}.commentheader{
	padding:5px;
	background-color:#888888;
	text-align:center;
	border-radius: 3 3 0 0;
	font-style: normal;
}.commentheader .commentheader2{
    background-color:#c9c9c9;
    text-align:left;
    border-radius: 3 3 0 0;
    padding: 4px;
}.commentmetadata{
	margin:0;
	display:inline;
	font-size:0.9em;
	color:#B6B6B6;
	font-weight:normal;
	text-align: left;
}.commentmetadata a{
	text-decoration: none;
	color: #909090;
	font-weight:normal;
}.commentlist{
	text-align: left;
	display: block;
	position: relative;
	clear: none;
	padding: 0;
	word-wrap: break-word;
	list-style:none;
	list-style-position: outside;
}.commentlist li{
	margin:20px 0 0 0;
	font-weight:bold;
	list-style:none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #4c4c4c;
	border-right-color: #4c4c4c;
	border-bottom-color: #4c4c4c;
	border-left-color: #4c4c4c;
	border-radius: 5 5 4 4;
}.commentlist li p{
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
}.commentlist p{
    font-weight:normal;
    text-transform:none;
    word-wrap: break-word;
    text-align: left;
    padding-right: 3px;
}.post img{
    max-width: 100%;
    height: auto!important; 
}.post object{
    width: 100%!important;
    height: auto!important;
}.parent {
    font-size: 9px;
    color:#999;
    font-weight: normal;
    margin: 0 0 0 0;
}#comments{
	font-size: 11px;
	display: block;
	position: relative;
	background: #777;
	margin-top: 0px;
	font-weight: normal;
	color: #000000;
}.commentlist cite, .commentlist cite a{
    font-weight:bold;
    font-style:normal;
}.wp-pagenavi a{
	display: inline-block;
	padding: 5px 10px;
	background-color:#888;
	border-radius:3px;
	border:1px solid #4c4c4c;
	font-weight: bold;
	text-transform:lowercase;
	color: #B6B6B6;
	text-decoration: none;
	margin: 2px;
}.wp-pagenavi span.current {
	padding: 4px 10px 6px 10px;
	margin: 2px;
	font-weight: bolder;
	font-size: 11px;
	border: 1px solid #888;
	color: #CCCCCC;
	background-color: #777777;
	border-radius: 3px;
}
 tbody{
	display: table;
	border-spacing: 2px;
	display: inherit;
	vertical-align: auto;
	word-wrap:break-word;
	font-size: 10px;
	width:100%;
}#commentform textarea {
        width: 99%;
        font-family: Verdana, Arial, Sans-Serif;
        font-size: 10pt;
}
