.system_link {
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	color:#444;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:0px 4px;
	text-decoration:none!important;
}.system_link:active {
	position:relative;
	top:1px;
}.post_body img{
        max-width: 100%;
        height: auto!important;
        
} .post_nick a{
	color: #FF6600!important;
	font-size: 15px!important;
}.href_button {
	background-color:#FFFFFF;
	border-radius:4px;
	display:inline-block;
	color:#4c4c4c;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none!important;
	padding: 10px;
	-webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 1);
}.href_button:hover {
	text-decoration:none;
        background-color:#B2B2B2;
}.href_button:active {
	text-decoration:none;
	top:1px;
}.href_button_disable {
	background-color:#FFFFFF;
	border-radius:4px;
	border:1px solid #4c4c4c;
	display:inline-block;
	color:#4c4c4c;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none!important;
	padding: 10px;
}.href_button_disable:hover {
	text-decoration:none;
}.href_button_disable:active {
	position:relative;
}.topic_foot_nav{
	text-align: center;
	color: #4373c3;
}.post_nick{
	font-size: 17px;
	text-decoration: underline;
}.post_nick_online{
  	font-size: 17px;
  	text-decoration: underline;
  	color: #267F00;
}.post_nick_online a{
	color: #00CC00!important;
}.post_date{
	color: #444;
	font-size: 11px;
	word-wrap: break-word;
}.post_body{
	padding:5px;
	word-wrap: break-word;
	text-align: left;
	background-color: #fff;
	-webkit-box-shadow:0px 4px 5px rgba(0, 0, 0, 0.4);
}.post_header{
	background-color: #FFFFFF;
	text-decoration: none;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding:2 0 1 0;
	border-radius: 4 4 0 0;
	border-bottom: 1px solid #d6d6d6;
	-webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.4);
}.post_header_editor{
	background-color: #6699FF;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	margin-bottom: 5px;
	padding:2 0 1 0;
}#post{
        width: 100%;
}#hidetxtinput{
	border-radius: 3px;
}#txtinput{
        padding: 7px 12px;
}.post_footer{
	text-decoration: none;
	text-align: left;
	background-color: #FEFEFE;
	border-radius: 0 0 4 4;
	border-top: 1px solid #d6d6d6;
	-webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
	
}.topic_title_post, .topic_title_post a:link{
	color: #030303;
	font-weight: bold;
	text-align: center;
	word-wrap: normal;
	padding:2 0 2 0;
	margin:5 0 5 0;
	border-radius: 2px;
}.between_messages{
	color: #E6E6E6;
	font-weight: bold;
	background: #c9c9c9;
	text-align: center;
	margin-top: 10px;
	;
	
}
body{
	color: #333;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-size: 11px;
	line-height: 135%;
	margin: 0px;
	padding: 10px;
	text-align: left;
	word-wrap: break-word;
	background-color: #dcdcdc;
}form{
	display: inline;
        margin: 0;
	padding: 0;
}a:active{
	color: #8F8F8F;
	text-decoration: none;
}a:visited{
	color: #8F8F8F;
	text-decoration: none;
}a:link{
	color: #444;
	text-decoration: none;
}.button
{
	background: #fff;
}.formtable
{
	background: transparent;
}.quotetop
{
	color: #000;
	font-weight: bold;
	font-size: 10px;
	margin: 2px auto 0 auto;
	padding: 3px;
	-webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 1);
	border-radius: 3 3 0 0;
	background-color: #EBEBEB;
}.quotemain
{
	color: #3C3C3C;
	padding: 4px;
	margin: 0 auto 0 auto;
	-webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 1);
	background-color: #EBEBEB;
	border-radius: 0 0 3 3;
}
.codetop,
.sqltop,
.htmltop
{
	background: #FDDBCC url(1/css_img_code.gif) no-repeat right;
	color: #000;
	font-weight: bold;
	margin: 0 auto 0 auto;
	padding: 3px;
	border-radius: 3 3 0 0;
}
.codemain,
.sqlmain,
.htmlmain
{
	color: #465584;
	font-family: Courier, "Courier New", Verdana, Arial;
	padding: 2px;
	border-radius: 0 0 3 3;
	border: 1px dotted #FDDBCC;
	background-color: #FFFFFF;
	height: auto;
}
#QUOTE,
#CODE
{
	background: #FAFCFE;
	border: 1px solid #000;
	color: #465584;
	font-family: Verdana, Arial;
	font-size: 11px;
	padding: 2px;
	white-space: normal;
}
#CODE
{
	font-family: Courier, "Courier New", Verdana, Arial;
}.hidetop
{
	color: #000;
	border-radius:3px;
	font-weight: bold;
	font-size: 10px;
	margin: 8px auto 0 auto;
	padding: 3px;
	background-color: #dcdcdc;
	-webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 1);
}.hidemain
{
	background: #FAFCFE;
	color: #666666;
	-webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 1);
	margin:0 auto 8px auto;
	border-radius: 0 0 3 3;
}.moddiv{
	background-color: #EBEBEB;
	border-radius:3px;
	-webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 1);
}.exdiv{
	background-color: #EBEBEB;
	border-radius:3px;
	-webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 1);
}.curdiv{
	background-color: #EBEBEB;
	border-radius:3px;
	-webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 1);
}.postcolor {
	font-size: 12px;
	line-height: 160%;
}table.ipbtable, tr.ipbtable, td.ipbtable {
        color: #222;
        font-size: 11px;
        line-height: 135%;
}#ipbwrapper {
        text-align: left;
}.signature
{
	background: transparent;
	color: #8F8F8F;
	font-size: 9px;
	line-height: 150%;
}.borderwrap,
.borderwrapm
{
	background: #FFF;
	border: 1px solid #c9c9c9;
	border-radius: 3 3 3 3;
}

.borderwrapm
{
	margin: 5px;
}.row1
{
	background: #fff;
}.formsubtitle
{
	border: 0;
	color: #333333;
	font-weight: bold;
	padding: 5px;
}
 
/*news*/
a:hover{
        color:#13a4f4;
        text-decoration:blink;
        background: transparent;
}h2{
	font-size:10pt;
}.navigation{
        font-weight:bold;
        display:block;
        text-align:center;
        margin-top:10px;
        margin-bottom:15px;
}.navigation a, .navigation a:link{
	padding:4px 6px 4px 6px;
	margin:2px;
	text-decoration:none;
	color:#888;
	background-color:#fff;
	font-size:10px;
	font-weight:bold;
	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}.navigation a:hover{
	color:#888;
	background-color:#fff;
}.navigation a:active{
	padding:3px 6px 3px 6px;
	margin:2px;
	text-decoration:none;
	color:#888;
	background-color:#dfdfdf;
}.navi_page{
	font-size:1em;
	font-weight:bold;
}.commentheader2{
	background-color: #FFFFFF;
	font-weight: bold;
	padding-left: 7px;
	padding-top: 5px;
	padding-bottom: 2px;
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
}.commentheader{
	padding:5px;
	background-color:#DEDEDE;
	text-align:center;
	border-radius: 3 3 0 0;
	font-style: normal;
}.commentmetadata{
        margin:0;
        display:inline;
        font-size:0.9em;
        color:#777;
        font-weight:normal;
        text-align: left;
}.commentmetadata a{
	text-decoration: none;
	color: #909090;
	font-weight:normal;
}.commentmetadata_rate{
	float:right;
	font-weight:bold;
	color:#999999;
	font-size:1em;
}.commentlist{
	text-align: left;
	display: block;
	position: relative;
	clear: none;
	padding: 0;
	word-wrap: break-word;
	list-style:none;
	list-style-position: outside;
}.commentlist li{
	margin:20px 0 0 0;
	font-weight:bold;
	list-style:none;
	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
	background:#FFF;
}.commentlist li p{
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 7px;
}.commentlist p{
        font-weight:normal;
        text-transform:none;
        word-wrap: break-word;
        text-align: left;
        padding-right: 3px;
}.post img{
        max-width: 100%;
        height: auto!important; 
        -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}.post object{
        width: 100%!important;
        height: auto!important;
}.parent {
        font-size: 9px;
        color:#999;
        font-weight: normal;
        margin: 0 0 0 0;
}#comments{
	font-size: 11px;
	display: block;
	position: relative;
	margin-top: 0px;
	font-weight: normal;
	color: #000000;
	text-align:center
}.commentlist cite, .commentlist cite a{
        font-weight:bold;
        font-style:normal;
}.wp-pagenavi a{
	display: inline-block;
	padding: 5px 10px;
	background-color:#FFFFFF;
	border-radius:3px;
	font-weight: bold;
	text-transform:lowercase;
	color: #4f4f4f;
	text-decoration: none;
	margin: 2px;
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}.wp-pagenavi span.current {
	padding: 4px 5px 6px 5px;
	margin: 2px;
	font-weight: bolder;
	font-size: 11px;
	color: #8F8F8F;
	background-color: #FFFFFF;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
} tbody{
	display: table;
	border-spacing: 2px;
	display: inherit;
	vertical-align: auto;
	word-wrap:break-word;
	font-size: 10px;
	width:100%;
}#commentform textarea {
        width: 99%;
	background-color:#dfdfdf
	}
